# Archivos de sistema operativo
.DS_Store

# Dependencies
/node_modules
/functions/node_modules

# Build artifacts
/dist

# Logs
logs
*.log
npm-debug.log*

# Local environment variables
# Ignora todos los archivos .env* excepto .env.example
.env*
!.env.example
# Ignora también los .env de la carpeta functions
functions/.env*

# Firebase
*.firebase